* {
	padding: 0;
	margin: 0;
}
body {
	background: #2f343b;
	color: #fff;
	height: 100%;
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1.5;
	display: flex;
	flex-direction: column;
	align-items: center;
}

header {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.text-secondary {
	color: #030303;
}

main {
	padding: 0.3rem;
	min-height: calc(80vh - 100px);
}

h1 .lg-heading {
	margin: 0;
	font-weight: 400;
	padding: 20px;
	font-size: 4rem;
}

#myTextArea {
	font-size: 1.2rem;
}
button {
	padding: 5px;
	cursor: pointer;
	border-radius: 5px;
	width: 150px;
}
.btn,
.btn-light {
	display: block;
	padding: 0.5rem 1rem;
	border: 0;
	margin-bottom: 0.3rem;
}
.btn:hover,
.btn-light:hover {
	background: #030303;
	color: #fff;
}

.btn-light {
	background: #acb3bd;
	color: #333;
}
a {
	color: #fff;
	text-decoration: none;
}
footer {
	align-items: center;
	text-align: center;
	padding: 20px;
}
footer a {
	color: rgb(12, 182, 12);
}

@media screen and (max-width: 500px) {
	main {
		padding: 2rem;
	}

	h1.lg-heading {
		margin-top: 0.5rem;
		/* font-weight: 400; */
		font-size: 2rem;
	}
}
